{% extends 'issue_tracker/base.html' %}
{% load static %}


{% block content %}

  {% for ticket in tickets %}
  <div class="card border-success mb-2">
    <a href="{% url 'issue_tracker:ticket_comment' ticket.id %}" class="list-group-item-action flex-column align-items-start" id={{ ticket.id }}>
      <div class="card-header pt-2 ps-4">
        <div class="row d-flex w-100 justify-content-between">

          <h4 class="text-capitalize">{{ ticket.title }}</h4>

          {% if ticket.comments.count >= 1 %}
            <div class="ball">
              <span class="badge badge-primary badge-pill">{{ ticket.comments.count }}</span>
              <small>Comments</small>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="card-body mb-2 pt-4">
          <div class="row">
            <p class="text-truncate">{{ ticket.issue_description }}</p>
          </div>
          <div class="row d-flex justify-content-between">
            <p>Author: {{ ticket.ticket_author }}</p>
            <p>Date Added: {{ ticket.date_added }}</p>
          </div>
      </div>
    </a>
  </div>
  {% endfor %}



{% endblock content %}
