<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4 border">
  <div class="container-fluid">
  <a class="navbar-brand ms-5" href="{% url 'issue_tracker:home' %}">TICKET TRACKER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      <li class="nav-item">
          <a class="nav-link" href="#">Create Ticket</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {%  else %}
      <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
