.list-group-item-action {
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 10px 10px 0px 10px;
}

a {
  text-decoration: none;
}

#ticket_look:hover {
  background-color: lightgray;
}

.list-group-item, .list-group-item:hover {
  z-index: auto;
}

.issue-description {
  font-size: 17px;
  padding: 1rem 5rem 1rem 1rem;
  color: blue;
}

.card-body {
  padding: .5rem 1rem 0rem 1rem;
}


.full-comment {
    margin: 20px 0px 20px 20px;
}

.asteriskField {
  display: none;
}
